.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 25px;  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px 10px;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap:wrap;
      
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
        text-decoration:none;
        color:rgba(43, 43, 43,0.7);
        transition :all 0.3s ease 0s;
      }
      .nav-link:hover{
        color:rgba(43, 43, 43,1);
      }
    }
  }
  