body{
 font-family: 'Open Sans', sans-serif; 
 margin : 0px;
 -webkit-font-smoothing : antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {

    font-family : source-code-pro, Menlo,Monaco,Consolar, 'Courier New',
    monospace;

}